* {
  font-family: Material Design Icons, JetBrainsMono Nerd Font, Iosevka Nerd Font;
  font-size: 15px;
  margin-top: 1px;
  border-radius: 0px;
}

window#waybar {
  background: rgba(26, 27, 38, 0);
}

.module {
  color: #e5e5e5;
  background: rgba(25, 27, 33, 0);
  padding: 2px 10px;
  margin-left: 4px;
  margin-right: 4px;
}

#temperature {
  color: #fb958b;
}

#custom-gpu {
  color: #a1c999;
}

#workspaces {
  margin-left: 0px;
  padding-left: 0px;
}

#workspaces button:hover {
  background: inherit;
}

#workspaces button {
  color: #7a95c9;
  padding-left: 4px;
  padding-right: 4px;
}

#workspaces button.active {
  color: #ecd3a0;
}

#custom-launcher {
  margin-left: 10px;
  padding-right: 18px;
  padding-left: 14px;
  color: #7a95c9;
  font-size: 20px
}

#custom-keyboard {
  color: #ecd3a0;
}

#network {
  font-size: 20px;
}

#pulseaudio {
  font-size: 15px;
  color: #a1c999;
  margin-left: 8px;
}

#pulseaudio.muted {
  color: #fb958b;
}

#network {
  color: #5e81ac;
  padding-left: 6px;
  padding-right: 12px;
}

#network.disconnected {
  color: #fb958b;
}

#clock {
  color: #ecd3a0;
}

#custom-logout {
  color: #7a95c9;
  padding: 0 18px 0 15px;
  margin-right: 5px;
}

#custom-reboot {
  color: #fab387;
  padding: 0 18px 0 15px;
  margin-right: 5px;
}

#custom-shutdown {
  color: #e78284;
  padding: 0 18px 0 15px;
  margin-right: 10px;
}

tooltip {
  font-family: Iosevka Nerd Font;
  padding: 15px;
  background-color: #1f232b;
}

tooltip label {
  font-family: Iosevka Nerd Font;
  padding: 5px;
}

#tray {
  margin-left: 0px;
  margin-right: 0px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #242933;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#custom-weather {
  padding-right: 5px;
  color: #fff;
}

#custom-playerctl.text-button {
  font-size: 17px;
  padding: 0px;
  margin-top: 3px;
  margin-left: 0px;
  margin-right: 3px;
  /* background: none; */
}

#custom-playerctl.backward {
  margin-left: 6px;
}

#custom-playerlabel {
  font-size: 15px;
  background: none;
}
